<section class="flex flex-col gap-2 mx-4 mt-4 flex-1 md:mx-8 xl:mx-12">
  <div>
    <img src="https://fakeimg.pl/350x200/ff0000,80/000" class="w-full object-cover">
  </div>
  <p class="text-xs opacity-60">January 11, 2022</p>
  <p class="text-2xl font-semibold">Lançamento do filme Spider-man causa ansiedade</p>
  <p class="text-sm opacity-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ratione totam quam est
    deserunt necessitatibus quo vel sunt aspernatur voluptate delectus facere suscipit!</p>
</section>