<div class="z-50 absolute right-0 w-full min-h-screen transition-all ease duration-300 bg-[#111111]"
  [ngClass]="{'right-[300px]': isMenuOpen}">
  <app-navbar (menuEventEmitter)="isMenuOpen = !isMenuOpen"></app-navbar>
  <main class="min-h-[90vh] text-white ">
    <app-big-title></app-big-title>
    <div class="flex flex-col pt-6 md:flex-row">
      <app-big-card></app-big-card>
      <div
        class="border-t-[1px] mx-4 border-opacity-25 border-neutral-500 mt-8 pb-5 pt-5 md:pt-0 md:border-t-0 md:mt-4 md:mx-8 xl:mx-12">
        <app-small-card></app-small-card>
        <hr class="mt-8 mb-5 opacity-25 border-neutral-500">
        <app-small-card></app-small-card>
        <hr class="mt-8 mb-5 opacity-25 border-neutral-500">
        <app-small-card></app-small-card>
      </div>
    </div>
  </main>
</div>

<div class="absolute top-0 right-0 h-full flex flex-col gap-12 items-center justify-center w-[300px] bg-slate-50 z-10">
  <ul>
    <li class="hover:text-blue-400 text-2xl p-1">
      <a href="#">LEARN</a>
    </li>
    <li class=" hover:text-blue-400 text-2xl p-1">
      <a href="#">BLOG</a>
    </li>
    <li class="hover:text-blue-400 text-2xl p-1">
      <a href="#">BOOKMARKS</a>
    </li>
    <li class="hover:text-blue-400 text-2xl p-1">
      <a href="#">UI KIT</a>
    </li>
    <li class="hover:text-blue-400 text-2xl p-1">
      <a href="#">LAIN NYA</a>
    </li>
  </ul>

</div>